body {
	margin:0;
	font-family: Roboto, Helvetica Neue, Arial;
}

header {
	padding:10px;
	margin:0;
	background-color : rgb(24 , 24 , 24);
	color : white;
	text-align:center;
}
legend {
    font-size: 25px;
	width: 400px;
	text-align: center;
	text-transform: uppercase;
	color : rgb(216 , 160 , 22);
	background : repeat url(../images/carbonv4.jpg);
	border-width: 3px;
	border-style: groove;
	border-color: rgb(216 , 160 , 22);
}
fieldset {
	color : rgb(216 , 160 , 22);
	background : rgb(24 , 24 , 24);
	border-color : rgb(216 , 160 , 22);
	margin-top :3%;
	margin-left: 25%;
	margin-right: 25%;
	border-style: groove;
	border-width: 6px;

}

table {
    border-spacing :200px 0px;
}

.subtitle {
	text-align: center;
}

.main-title {
	text-align: center;
}

.zoom img {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
 }

.zoom:hover img {
    -webkit-transform : scale(1.10);
    transform : scale(1.10);
}

input[type='range']:after {
	background-color: rgb(216 , 160 , 22);
}


/* Custom Radio Buttons */

input[type='radio']:after {
	width: 10px;
	height: 10px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #d1d3d1;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

input[type='radio']:checked:after {
	width: 10px;
	height: 10px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: rgb(216 , 160 , 22);
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

/* Custom Range Input */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      -webkit-appearance: none;
      background-color: #d1d3d1;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      color: rgb(216 , 160 , 22);
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 20px;
      -webkit-appearance: none;
      height: 15px;
      background: #434343;
      box-shadow: -80px 0 0 80px rgb(216 , 160 , 22);
    }

}
input[type='submit'] {
    font-size: 15px;
    border-style: groove ;
    border-color : black;
}
input[type='submit']:hover {
    background : rgb(216 , 160 , 22);
}

input[type='text'] {
    font-size: 15px;
}

/* -- Custom Button -- */

button {
    font-size: 20px;
    margin-left: 37%;
    width: 250px;
    height: 50px;
    border-style: groove ;
    border-color : black;
}

button:hover {
    background: rgb(216 , 160 , 22);
}

button::selection {
    background :rgb(216 , 160 , 0)

}

select:focus > option:checked {
    background :rgb(216 , 160 , 22);
}


p.question {
    font-size: 20px;
}
div.réponse {
    font-size: 20px;
    color : white;
}

select {
    font-size: 15px;
    width : 50%;
    height: 50%; 
}